
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/football_xs_os.jpg');
    background-size: cover;
    height: 100%;
}

h1 {
    color: white;
}

img {
    width: 100px;
}

#bio-pic {
    text-align: center;
}

.spread {
    display: flex;
}

.bio-card {
    width: 200px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}