


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/football_xs_os.jpg');
    background-size: cover;
    height: 100%; 
    width: 100%;
    min-width: 400px;
}

h1 {
    color: white;
    text-align: center;
    color: black;
}
h2{
    align-items: center;
    justify-items: center;
}

img {
    width: 100px;
    height: 100px;
}

.header-h1 {
    font-size: 60px;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.spread {
    display: flex;
}

.bio-card {
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 220px;
    background-color: rgba(30, 156, 93, 0.719);
    border: black 1px solid;
    border-radius: 5px;
    margin: 10px;
    height: 350px;
    padding: 5px;
}

#bio-pic img:last-child {
    display: none;  
    height: 100px;
    width: 100px;
}

#bio-pic:hover img:last-child {
    display: block;
    height: 100px;
    width: 100px;
}

#bio-pic:hover img:first-child {
    display: none;
    height: 100px;
    width: 100px;
}

#play-div, #results-div {
    display: none;
    display: none;
}

#page-content {
    background-color: rgba(73, 117, 175, 0.87);
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

/* #about-header {
    text-decoration: underline;
} */