
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/football_xs_os.jpg');
    background-size: cover;
    height: 100%; 
}

h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
}

h2{
    align-items: center;
    justify-items: center;
}

img {
    width: 100px;
    height: 100px;
}

#bio-pic {
    text-align: center;
}

.spread {
    display: flex;
}

.bio-card {
    width: 200px;
    background-color: rgba(49, 151, 100, 0.719);
    border: black 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

#play-div, #results-div{

    display: none;
    display: none;

}

#page-content{
    background-color: rgba(16, 18, 26, 0.623);
    margin-top: 50px;
    border: 3px solid black;
}