

.game-board {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}

#top-left { 
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    grid-column: 1; 
    grid-row: 1;

}

#top-mid {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    grid-column: 2;
    grid-row: 1;
    }

#top-right {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    grid-column: 3;
    grid-row: 1;

}

#mid-mid {
    border: 1px solid black;
    grid-column: 2;
    grid-row: 2;
}

#mid-left {
    border: 1px solid black;
    border-left: 0;
    grid-column: 1;
    grid-row: 2;
}

#mid-right {
    border: 1px solid black;
    border-right: 0;
    grid-column: 3;
    grid-row: 2;
}

#bottom-left {
    border: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    grid-column: 1;
    grid-row: 3;
}

#bottom-right {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
    grid-column: 3;
    grid-row: 3;

}

#bottom-mid {
    border: 1px solid black;
    border-bottom: 0;
    grid-column: 2;
    grid-row: 3;
}