/* *   {
    font-family: 'Noto', sans-serif;
} */

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 800px;
    
    min-height: 500px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: ghostwhite;
    background-image: url('../assets/football_xs_os.jpg');
    background-size: cover;
}

section h2, section h3 {
    font-family: 'Noto', serif;

    color: darkblue
}

button {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: solid black 1px;

    margin: 5px;

    background-color: yellow;
    color: darkblue;

    font-family: 'Noto', sans-serif;
    font-weight: 700;
    transition-duration: .3s;
}

button:hover {
    background-color: rgb(58, 199, 180);
}

div.scores.flex-row {
    margin-bottom: 10px;
}

p {
    width: 40px;
    height: 40px;

    margin: 5px;

    background-color: lightgray;
    border: 1px solid lightslategray;
    border-radius: 5px;

    font-size: 1.4em;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 10px;
}

.header-h1 {
    font-size: 60px;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.game-board {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;

    justify-content: center;

    width: 480px;
    padding: 10px;

    background-color: rgb(137, 229, 252);

    border-radius: 1%;
}

.game-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-info {
    align-items: center;
    background: white;
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgb(58, 199, 180);
    font-family: 'Noto Serif', serif;
    width: 300px;
}

.scores {
    margin-bottom: 40px;
}





.vert-left {
    grid-column: 1;
    grid-row: 1;
    transform: rotate(90deg) translateY(2.5px) translateX(10px);
}

.vert-mid {
    grid-column: 2;
    grid-row: 1;
    transform: rotate(90deg) translateY(2.5px) translateX(10px);
}

.vert-right {
    grid-column: 3;
    grid-row: 1;
    transform: rotate(90deg) translateY(2.5px) translateX(10px);
}

.hor-top {
    grid-column: 1;
    grid-row: 1;
    transform: translateY(3.5px) translateX(10px);
}

.hor-mid {
    grid-column: 1;
    grid-row: 2;
    transform: translateY(3.5px) translateX(10px);
}

.hor-bottom {
    grid-column: 1;
    grid-row: 3;
    transform: translateY(3.5px) translateX(10px);
}

.forwards-diag {
    grid-column: 1;
    grid-row: 3;
    transform: rotate(-45deg) scaleX(1.5) translateY(3px);
}

.backwards-diag {
    grid-column: 1;
    grid-row: 1;
    transform: rotate(45deg) scaleX(1.5) translateY(3px);
}

#top-left { 
    border-bottom: 2px solid #3F58DF;
    border-right: 2px solid #3F58DF;

    grid-column: 1; 
    grid-row: 1;

}

#top-mid {
    border-bottom: 2px solid #3F58DF;
    border-right: 2px solid #3F58DF;
    border-left: 2px solid #3F58DF;
    grid-column: 2;
    grid-row: 1;
    }

#top-right {
    border-bottom: 2px solid #3F58DF;
    border-left: 2px solid #3F58DF;
    grid-column: 3;
    grid-row: 1;

}

#mid-mid {
    border: 2px solid #3F58DF;
    grid-column: 2;
    grid-row: 2;
}

#mid-left {
    border: 2px solid #3F58DF;
    border-left: 0;
    grid-column: 1;
    grid-row: 2;
}

#mid-right {
    border: 2px solid #3F58DF;
    border-right: 0;
    grid-column: 3;
    grid-row: 2;
}

#bottom-left {
    border: 2px solid #3F58DF;
    border-bottom: 0;
    border-left: 0;
    grid-column: 1;
    grid-row: 3;
}

#bottom-right {
    border: 2px solid #3F58DF;
    border-bottom: 0;
    border-right: 0;
    grid-column: 3;
    grid-row: 3;

}

#bottom-mid {
    border: 2px solid #3F58DF;
    border-bottom: 0;
    grid-column: 2;
    grid-row: 3;
}

