section {
    width: 400px;

    margin: 10px;
}

main {
    width: 100%;
}

input[type="text"] {
    width: 150px;
}

hr {
    width: 80%;
}

form > button {
    width: 75px;
    
    border-radius: 10%;
}