main {
    width: 100%;
    background-image: url('../assets/football_xs_os.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

section {
    width: 400px;
    margin: 10px;
}

input[type="text"] {
    width: 160px;
}

hr {
    width: 80%;
}

form > button {
    width: 75px;
    border-radius: 10%;
    align-self: center;
}

section {
    align-self: flex-start;
    height: 400px;
    background-color: white;
    border: solid black 5px;
    padding: 25px;
    font-family: 'Noto Serif', serif;
}

body {

}

li {
    text-align: justify;
    text-justify: inter-word;
    padding-right: 20px;
}

h2 {
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}