main {
    background-image: url('../assets/football_xs_os.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

canvas {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: solid grey 10px;
}

.graph {
    background-color: grey;
    text-align: center;
}

#main-content {
    margin-top: 50px;
    border-radius: 20px;
    min-width: 600px;
    max-height: 150px;
}