* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
}

section {
    width: 400px;
    margin: 10px;
}

input[type="text"] {
    width: 160px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}